{
  "branches": [
    "main",
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release-cargo/semantic-release-cargo",
    "@semantic-release/github",
    "@semantic-release/changelog",
    "@semantic-release/git"
  ]
}
